// Fonts
$primary: "skolar", "Tisa OT", "Georgia", "Times New Roman", serif
$secondary: "freight-sans-pro", "Lato", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$heading: "skolar", "Tisa OT", "Georgia", "Times New Roman", serif
$mono: "Source Code Pro", "Courier New", "Inconsolata", monospace

// Grid
$columns: 12
$container_width: 42em
$show_baseline: false

// Type scaling
$type_scaling: false

// Letter spacing adjustment
// Fixes gaps between display: inline-block elements
// Adjust to taste
$spacing_adjustment: -.2em

// Breakpoints
$bp_medium: 24em
$bp_large: 36em

// Colors
$dark: #282828
$shade: rgba($dark, .05)