// Fonts
$primary: "Guardian TextEgyp", "Tisa OT", "Georgia", "Times New Roman", serif
$secondary: "Guardian Sans", "Lato", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$heading: "Guardian Egyp", "Tisa OT", "Georgia", "Times New Roman", serif

// Grid
$columns: 12
$container_width: 42em
$show_baseline: false

// Type scaling
$type_scaling: false

// Letter spacing adjustment
// Fixes gaps between display: inline-block elements
// Adjust to taste
$spacing_adjustment: -.35em

// Breakpoints
$bp_medium: 24em
$bp_large: 36em